numpy==2.2.6
numba==0.63.1

opencv-python==4.12.0.88
scikit-image==0.23.2

tensorboard==2.17.1
tensorboardX==2.6.2
easydict==1.13
PyYAML==6.0.2
tqdm==4.66.5
SharedArray==3.2.4
pyquaternion==0.9.9

spconv-cu126

--extra-index-url https://download.pytorch.org/whl/cu126
torch==2.9.1
torchvision==0.24.1
